__pycache__/
build/
dist/
pyinstaller/
resources/background_music_resources.py
resources/background_resources.py
resources/event_resources.py
resources/mask_resources.py
resources/portrait_resources.py
resources/scene_resources.py
resources/script_resources.py
resources/sound_resources.py
resources/system_resources.py
resources/voice_resources.py
*.ai
*.swp
.DS_Store
